{% extends "admin_base.html" %}

{% block styles %}
<link href="{{ url_for('static', filename='css/login_form.css') }}" rel="stylesheet">
<style type="text/css">
	.asteriskField {
		color: red;
	}
	
	.hiddenField {
		display: none;
	}
</style>
{% endblock %}

{% block content %}
<div class="breadcrumb">
	<a class="breadcrumb-item" href="{{ url_for('admin.admin_index') }}">Home</a>
	<a class="breadcrumb-item" href="{{ url_for('admin.view_roles') }}">Roles</a>
	<span class="breadcrumb-item active" href="{{ url_for('admin.view_a_role', role_id=role.role_id) }}">{{ role['role_id'] }}</span>
</div>

<div class="container-fluid">
	<h1 class="text-center">View User Roles Record</h1>
	<div class="row">
		{% if role %}
		<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
			<h2>User Roles Data</h2>
			<br>
			<form class="form-horizontal" id="roleForm" action="" method="post">
				<div class="form-group">
					<label class="control-label col-sm-4" for="role_id">Role ID<span class="asteriskField">*</span></label>
					<div class="col-sm-8">
						<input class='form-control' type="text" id="role_id" name="role_id" value="{{ role.role_id }}" readonly>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-4" for="username">Role Name<span class="asteriskField">*</span></label>
					<div class="col-sm-8">
						<input class='form-control' type="text" id="name" name="name" value="{{ role.name }}" readonly required>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-4" for="description">Description</label>
					<div class="col-sm-8">
						<input class='form-control' type="text" id="description" name="description" value="{{ role.description }}" readonly>
					</div>
				</div>

				{% if current_user.role_id == 1 %}
				<div class="text-center">
					<button class="btn btn-outline-warning btn-sm m-1" id="editButton" name="submit"><i class="fas fa-pen"></i> Edit Record </button>
					<button class="btn btn-outline-secondary btn-sm m-1 hiddenField" id="cancelEditButton"><i class="fas fa-ban"></i> Cancel Edit </button>
					<button class="btn btn-outline-primary btn-sm m-1" id="postUpdated" type="submit" disabled="true"><i class="fas fa-share-square"></i> Update Record</button>
				</div>
				{% endif %}

			</form>
		</div>

		<!-- End of left bit -->
		<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
			<div>
				<h2 class="text-center">Metadata</h2>
				<br>
				<div class="panel-group">
					<div class="panel panel-primary">
						<div class="panel-heading">User Role Record Metadata</div>
						<br/>
						<div class="panel-body"><strong>Created By</strong>: <span style="display:inline-block;text-indent: 200px;">{{ role['created_by'] }}</span></div>
						<hr>
						<div class="panel-body"><strong>Date Created</strong>: <span style="display:inline-block;text-indent: 188px;">{{ role['created'] }}</span></div>
						<hr>
						<div class="panel-body"><strong>Updated By</strong>: <span style="display:inline-block;text-indent: 200px;">{{ role['updated_by'] }}</span></div>
						<hr>
						<div class="panel-body"><strong>Date Updated</strong>: <span style="display:inline-block;text-indent: 188px;">{{ role['updated'] }}</span></div>
						<hr>
						{% if current_user.role_id == 1 and role.deleted %}
						<div class="panel-body"><strong>Date Deleted</strong>: <span style="display:inline-block;text-indent: 188px;">{{ role['deleted_date'] }}</span></div>
						<hr>
						<div class="panel-body"><strong>Deleted By</strong>: <span style="display:inline-block;text-indent: 200px;">{{ role['deleted_by'] }}</span></div>
						<hr>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		{% endif %}
	</div>		
</div>

<hr>
<div class="text-center">
	<a href="{{ url_for('admin.view_roles') }}">
		<button type="button" class="btn btn-outline-info btn-sm m-1" ><i class="fas fa-history"></i> Back to User Roles</button>
	</a>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	var frm = document.getElementById('roleForm');
	$('#editButton').on('click', function(event){
		event.preventDefault();
		for(var i=2; i < frm.length; i++) {
				frm.elements[i].readOnly = false;
				$("#editButton").prop('disabled', true);
		        $("#editButton").addClass('hiddenField');
		        $("#cancelEditButton").removeClass('hiddenField');
		} 
		frm.elements[2].focus();
		$("#postUpdated").prop('disabled', false);
		// $("#role_name").prop('disabled', false);
	});

	$("#cancelEditButton").on('click', function(e){
		e.preventDefault()
		for(var i=1; i < frm.length; i++) {
			frm.elements[i].readOnly = true;
			$("#editButton").prop('disabled', false);
			$("#editButton").removeClass('hiddenField');
			$("#cancelEditButton").addClass('hiddenField');
		}
		$("#postUpdated").prop('disabled', true);
		// $("#role_name").prop('disabled', true);
	});
</script>

{% endblock %}