<!DOCTYPE html>
<html lang="eng">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Sample solutions developed by Opiti Inc.">
  <meta name="author" content="Calvin Opiti">
  <meta name="keywords" content="Opiti Inc, Calvin Opiti, Opiti, Geospatial Engineer, SpatioTemporal, Opiti Consulting">

  <title>OPITI Inc: Solutions</title>
  
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicons/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicons/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="194x194" href="{{ url_for('static', filename='favicons/favicon-194x194.png') }}">
  <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='favicons/android-chrome-192x192.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicons/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='favicons/site.webmanifest') }}">
  <link rel="mask-icon" href="{{ url_for('static', filename='favicons/safari-pinned-tab.svg') }}" color="#5bbad6">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="msapplication-TileImage" content="{{ url_for('static', filename='favicons/mstile-144x144.png') }}">
  <meta name="theme-color" content="#ffffff">

	<!-- bootstrap core CSS -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js_libs/bootstrap/css/bootstrap.min.css') }}">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/small-business.css') }}">
  <!-- Custom styles for this template -->
  <!-- <link rel="stylesheet" type="text/css" href="css/icomoon.css"> -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.css') }}">
  
  <link rel="stylesheet" href="{{ url_for('static', filename='js_libs/jquery-ui-1.12.1/jquery-ui.min.css') }}" />

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <style type="text/css">
    
  </style>
  {% block styles %} {% endblock %}

</head>

<body>
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
    	<a class="navbar-brand" href="{{ url_for('site.index') }}">OPITI INC: SOLUTIONS</a>
    	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggle-icon"></span>
    	</button>
    	<div class="collapse navbar-collapse" id="navbarResponsive">
    		<ul class="navbar-nav ml-auto">
      		<li class="nav-item active">
      			<a class="nav-link" href="https://www.opiticonsulting.com" target="_blank">Opiti Inc</a>
      		</li>
          <li class="dropdown nav-item">
          	<a class="dropdown-toggle nav-link" data-toggle="dropdown" href="">About <b class="caret"></b></a>
						<ul class="dropdown-menu bg-dark">
						  <li class="nav-item"><a class="nav-link" href="">About Opiti Inc</a></li>
						  <li class="nav-item"><a class="nav-link" href="">Founder &amp; CEO</a></li>
						</ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://blog.opiticonsulting.com" target="_blank">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin.admin_index') }}" target="_blank">Admin</a>
          </li>
        </ul>
    	</div>
  	</div>
  </nav>

  {% for info_message in get_flashed_messages() %}
    <div id="flashMessage" class="alert alert-info alert-dismissible">{{ info_message }}</div>
  {% endfor %}
    
	<!-- Page Content -->
  <div class="container" style="padding-top:60px;">
    {% block body %}
    
    {% endblock %}
  </div>
  <!-- /.container -->   
       
  <!-- Footer -->
  <footer class="py-5 bg-dark">
  	<div class="container">
    	<p class="m-0 text-center text-white">&copy; <a href="https://www.opiticonsulting.com">Opiti Consulting</a> <script type="text/javascript">document.write(new Date().getFullYear());</script></p>
  	</div>
  	<!-- /.container -->
  </footer>

   
  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='js_libs/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js_libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js_libs/jquery-ui-1.12.1/jquery-ui.min.js') }}"></script>
  <script type="text/javascript">
    setTimeout(function(){
      $("#flashMessage").fadeOut('fast');
    }, 3000);
  </script>
  {% block scripts%} {% endblock %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106069296-1"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-106069296-1');
  </script>
	
</body>
</html>
