{% extends "base.html" %}

{% block body %}
  <!-- <div class="row">
    <h2"> Demo Solutions</h2>
  </div>
  <hr/> -->
  <div class="row">
  	
    <div class="col-md-4 col-sm-6 my-4">
  		<div class="card">
    		<img class="card-img-top" src="{{ url_for('static', filename='images/global-map.png') }}" alt="" style="width:100%;height:200px;">
  			<div class="card-body">
  				<h4 class="card-title">Online Mapping Tool</h4>
  				<p class="card-text">A platform for online uploading and simple visualizaation of spatial data of formats ESRI Shapefile (archived) or GeoJSON.</p>
  			</div>
  			<div class="card-footer">
  				<a href="{{ url_for('mapper.mapper_index') }}" target="_blank" class="btn btn-primary">Find Out More!</a>
  			</div>
  		</div>
  	</div>

    <div class="col-md-4 col-sm-6 my-4">
      <div class="card">
        <img class="card-img-top" src="{{ url_for('static', filename='images/icon-map_digitize.jpg') }}" alt="" style="width:100%;height:200px;">
        <div class="card-body">
          <h4 class="card-title">D&amp;D: Digitize and Download</h4>
          <p class="card-text">A web-GIS application allowing you to carry out on-screen digitization and downloading of your data as, either, GeoJSON or zipped ESRI Shapefile.</p>
        </div>
        <div class="card-footer">
          <!-- <a href="DownloadDigitized/index.html" target="_blank" class="btn btn-primary">Find Out More!</a> -->
          <a href="{{ url_for('dnd_app.dnd_index') }}" target="_blank" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 my-4">
      <div class="card">
        <img class="card-img-top" src="{{ url_for('static', filename='images/webGIS.jpg') }}" alt="" style="width:100%;height:200px;">
        <div class="card-body">
          <h4 class="card-title">Enterprise WebGIS</h4>
          <p class="card-text">Development of data and net-centric GIS and Remote Sensing applications, facilitating spatial data &amp; informations sharing, within an enterprise.</p>
        </div>
        <div class="card-footer">
          <a href="#" target="_blank" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>
  </div>
      	
  <!-- /.row -->
  <div class="row">
    <div class="col-md-4 col-sm-6 my-4">
      <div class="card">
        <img class="card-img-top" src="{{ url_for('static', filename='images/chicago_std_prevalence.png') }}" alt="" style="width:100%;height:200px;">
        <div class="card-body">
          <h4 class="card-title">Chicago Project</h4>
          <p class="card-text">A Look into spatial analysis and modelling of the spread of Sexually Transmitted Infections (STIs) in relation to their causal socio-economic factors.</p>
        </div>
        <div class="card-footer">
            <a href="https://bitbucket.org/opiticalvin/chicago-std-spatial-analysis/src/master/" target="_blank" class="btn btn-primary">Bitbucket Repo</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 my-4">
      <div class="card">
        <img class="card-img-top" src="{{ url_for('static', filename='images/pie-chart.jpg') }}" alt="" style="width:100%;height:200px;">
        <div class="card-body">
          <h4 class="card-title">County Statistics: Accidents</h4>
          <p class="card-text">An online statistical map application for county accident statistics in England.</p>
        </div>
        <div class="card-footer">
            <a href="#" target="_blank" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}